$columns: 12;
$column-width: 100% / $columns;

$header-height: 90px;
$content-height: 230px;
$footer-height: 50px;

$menu-width: 25%;
$sidebar-width: 25%;

$purple: #9933cc;
$blue: #33b5e5;
$footer-blue: #0099cc;

$white: #ffffff;
$light-grey: #f1f1f1;
$grid-border: #000000;

$spacing: 10px;
