@use "../abstracts/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family;
    color: $text-color;
    background: $background-color;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}
